body{
    margin: 0;
    background: #f4caeb; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;
}

h1{
    margin: 0;
}

img{
    width: 200px;
    gap: 32px;
}

img:hover{
    transform: scale(1.1);
}

footer{
    background: #8a1253;
    margin: 0;
    padding: 32px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.header{
    margin: 0;
    background: #c51350;
    padding: 16px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.choices, h2, .output, .score{
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}